#home-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("Assets/img/home/background2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 .dark-bg{
   background-color: rgba(0, 0, 0, 0.9);
   transition: 1s;
   color: white;
 }
  #home-bg-text {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .social-link {
      width: 40px;
      height: auto;
      opacity: 0.5;
      transition: 0.5s;
  }
  
  .social-link:hover {
      opacity: 1.0;
      transition: 0.5s;
  }

  .carouselButton:hover {
    transform: scale(1.2);
  }
  
  .media{
    margin-top: 20px;
  }
  .card-description{
    height: 5rem;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card{
    margin-top: 5px;
  }
  
  .card-img-top {
    height: 15rem;
    object-fit: cover;
}


#account-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url("Assets/img/account/cover.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#profile-avatar {
  width: 50%;
  height: auto;
}

.vl {
  border-left: 6px solid silver;
  height: 100%;
}

#product-slide0 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url("../img/product/chicken.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#product-slide1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url("../img/product/dessert.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-scale {
  transition: 0.3s;
}

.img-scale:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.card > a {
  color: rgba(0, 0, 0, 1);
}

.card > a:hover {
  color: rgba(0, 0, 0, 1);
}

.cart-img {
  width: 30px;
  height: auto;
}

.review-avatar {
  width: 64px;
  height: auto;
}

.media-body{
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

#navbar-brand-img {
  width: 40px;
  height: auto;
  position: relative;
}

.carousel-indicators .active{
    background-color: blue;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

 